#structProduit{
    display: flex;
    justify-content: center;

}

#description{
    font-size: 18px;

}

#nom{
    font-weight: bold;
    font-size: 20px;
}

#prix{
    margin-left: 20px;
}

#vendeur{
    font-style: italic;
}

#nbStock{
    font-weight: bold;
    font-style: italic;

}

img[alt="panier"]{
    width: 15px;
    height: 15px;
}

img[alt="Image encodée en base64"]{
    max-width: 300px;
    max-height: 300px;
}